anyascii==0.3.2
asgiref==3.7.2
beautifulsoup4==4.11.2
certifi==2023.11.17
charset-normalizer==3.3.2
crispy-bootstrap5==2024.2
defusedxml==0.7.1
Django==4.2.7
django-cogwheels==0.3
django-crispy-forms==2.1
django-filter==23.4
django-modelcluster==6.2.1
django-permissionedforms==0.1
django-taggit==4.0.0
django-treebeard==4.7
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
filetype==1.2.0
html5lib==1.1
icalendar==4.0.9
idna==3.4
l18n==2021.3
laces==0.1.0
openpyxl==3.1.2
Pillow==10.1.0
pillow-heif==0.13.1
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
requests==2.31.0
setuptools==69.1.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
telepath==0.3.1
typing_extensions==4.8.0
Unidecode==1.3.7
urllib3==2.1.0
wagtail==6.0.2
wagtail-honeypot==1.1.0
wagtail-modeladmin==1.0.0
wagtailgeowidget==8.0.0
wagtailmenus==4.0
webencodings==0.5.1
Willow==1.6.2
