anyascii==0.3.2
asgiref==3.7.2
beautifulsoup4==4.11.2
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
crispy-bootstrap5==2023.10
defusedxml==0.7.1
Django==4.2.7
django-cogwheels==0.3
django-crispy-forms==2.1
django-filter==23.3
django-ical==1.9.2
django-modelcluster==6.1
django-permissionedforms==0.1
django-recurrence==1.11.1
django-taggit==4.0.0
django-treebeard==4.7
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
filetype==1.2.0
html5lib==1.1
icalendar==5.0.11
idna==3.4
l18n==2021.3
markdown-it-py==3.0.0
mdurl==0.1.2
openpyxl==3.1.2
Pillow==10.1.0
pillow-heif==0.13.1
Pygments==2.16.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
resetmigrations==0.0.5
rich==13.6.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
telepath==0.3.1
Unidecode==1.3.7
urllib3==2.0.7
wagtail==5.2.2
wagtail-honeypot==1.1.0
wagtail-modeladmin==1.0.0
wagtailgeowidget==8.0.0
wagtailmenus==3.1.9
webencodings==0.5.1
Willow==1.6.2
