{% load wagtailcore_tags %}
<div id="nextFourEventsList">
  {% for cl in full_calendar_link %}
  <h2 class="view-all-events"><a class="btn btn-primary" href="{{ cl.link_to_calendar.url }}">View All Events</a></h2>
  {% endfor %}
<div aria-label="mini calendar showing the next four upcoming events" class="event-list-container card">
{% for next_events in next_four_events_list %}
{% for events_qs in events_qs|dictsort:"time_from" %}
{% if events_qs.id == next_events.id %}
<div class="event-list">
  <div class="event-item row mt-3 pb-2 g-0">
  <div class="col-xl-3 col-1">
  <div class="date-icon" aria-label="month and date of the event">
  <div class="date-icon-day" aria-label="the {{ next_events.event_date|date:'dS' }}">{{ next_events.event_date|date:"d" }}</div>
  <div class="date-icon-month" aria-label="of {{ next_events.event_date|date:'F' }}">{{ next_events.event_date|date:"M"|upper  }}</div>
  </div>
  </div>
  <div class="col-7 event-info">
    <div class="event-title"><strong><a href="{{ events_qs.url }}">{{ events_qs.title }}</a></strong></div>
    <div class="time">{{ events_qs.time_from|date:"g:i A"  }} - {{ events_qs.time_to|date:"g:i A"  }}</div>
  </div>
</div>
</div>
{% endif %}
{% endfor %}
{% endfor %}
</div>
</div>
