{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar menu_tags wagtailimages_tags %}


{% block content %}
<div id="page-content" class="container">
{% for post in page.get_children %}
    {% with post=post.specific %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
    {% endwith %}
{% endfor %}
<p class="alert alert-danger">This display form will not submit. Please associate it with an event.</p>

<div id="page-body" class="row">

<div class="col">

     <form class="mt-4">
         {{ form }}
      <button type="submit" class="btn btn-default">Register</button>

     </form>

   </div>
   </div>
   </div>


{% endblock %}
