{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-online_resourcepage{% endblock %}

{% block content %}

<div class="container">
<div class="row">
<div id="contentArea" class="content col-12">
<div class="row">
<div class="main-title mt-4 mb-4"><h1>{{ page.title }}</h1></div>

<div id="contentBody" class="mb-2">

<div class="intro">{{ page.intro }}</div>

{% image page.resource_image class="img-fluid" width-150 %}

<div class="mt-2">
{{ page.online_resource_description|richtext }}
</div>

<div class="col-3 mt-2">
{% with categories=page.categories.all %}
    {% if categories %}
    <strong>Resource Categories</strong>
  <ul>
  {% for category in categories %}
  <li>{{ category.name }}</li>
  {% endfor %}
  </ul>
    {% endif %}
{% endwith %}
</div>


<div class="mt-2">
<a href="{{ page.online_resource_url }}" class="btn btn-primary">
    Access Now
</a>
</div>

<div class="mt-2"><a href="{{ page.get_parent.url }}">See All Resources</a></div>

</div>
</div><!--content area-->
</div><!--end container-->
</div><!--end row-->
</div>
{% endblock %}
<!--title-->
<!--Description-->
<!--Category-->
<!--online_resource URL-->
