#calendar button {background-color: #019FE2;font-weight: bold; text-transform: capitalize;}
#calendar .button-group, #calendar .btn-primary {border-color: rgba(0, 0, 0, 0.71); }
.fc-day-past.fc-day-other {background: var(--fc-non-business-color, rgba(215, 215, 215, 0.3));}
h2.fc-toolbar-title {color: #4E4C4F; fo}

.fc-daygrid-event {
  display: block;
  padding-top: 7px;
  margin-left: 13px;
}
a.fc-daygrid-event {font-size: .9em;}
a.fc-daygrid-event .fc-event-title {font-weight: bold; color: rgba(0, 0, 0, 0.71); }
#calendar .fc-event-time {color: rgba(0, 0, 0, 0.71);}
#calendar a.for-kids .fc-event-title {color: #2DB34B;}
#calendar a.for-adults .fc-event-title {color: #0066B3;}
#calendar a.for-teens .fc-event-title {color: #019FE2;}
#calendar a.for-tweens .fc-event-title {color: #A6CE39;}
