{% load static %}
<div id="searchBox" class="text-lg-center container mt-1">
<div class="row">
  <h2>Start Your Search Here</h2>
<form id="searchForm" class="mt-1 form-inline" name="search" action="https://aspen-demo.equinoxoli.org/Union/Search" method="get">
 <input id="altSearchInput" class="col-lg-6 col-10" name="lookfor" value="" type="text" autofocus="" aria-label="Search">
 <button id="searchButton" type="submit" class="btn btn-blue radius-right" title="Search" value="Search"><i class="bi bi-search"></i></button>
 <div class="row">
  <div id="searchRadio" class="col mt-2">
 <div class="form-check form-check-inline">
  <fieldset>
  <legend class="screen-only">Search Source</legend>
   <label class="form-check-label" for="catalogueSearch"><input type="radio" id="catalogueSearch" value="catalogue" data-searchsource="catalog" value="Keyword" class="form-check-input" name="altSearch" checked="checked">Catalogue</label>
 <div class="form-check form-check-inline">
   <label class="form-check-label" for="websiteSearch"><input id="websiteSearch" type="radio" value="website" name="altSearch" class="form-check-input">Website</label>
 </fieldset>
 </div>
 </div>
 </div>
 </div>
</form>


</div>
</div>
<script type="text/javascript" src="{% static 'js/alt_search.js' %}"></script>
