<h2>Library Hours</h2>
<table id="OpenHours" class="table table-striped table-bordered table-hover">
<tbody>
{% for business_hours in business_hour %}
{% if business_hours.day_of_the_week == 6 %}
<tr><td>Sunday </td>{% if business_hours.open_closed == 1 %}<td class="open">{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</td>{% else %}<td class="closed">Closed </td>{% endif %}</tr>
{% endif %}
{% endfor %}

{% for business_hours in business_hour %}

{% if business_hours.day_of_the_week == 0 %}
<tr><td>Monday </td>{% if business_hours.open_closed == 1 %}<td class="open">{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</td>{% else %}<td class="closed">Closed </td>{% endif %}</tr>
{% endif %}
{% endfor %}

{% for business_hours in business_hour %}

{% if business_hours.day_of_the_week == 1 %}
<tr><td>Tuesday </td>{% if business_hours.open_closed == 1 %}<td class="open">{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</td>{% else %}<td class="closed">Closed </td>{% endif %}</tr>

{% elif business_hours.day_of_the_week == 2 %}
<tr><td>Wednesday </td>{% if business_hours.open_closed == 1 %}<td class="open">{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</td>{% else %}<td class="closed">Closed </td>{% endif %}</tr>


{% elif business_hours.day_of_the_week == 3 %}
<tr><td>Thursday </td>{% if business_hours.open_closed == 1 %}<td class="open">{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</td>{% else %}<td class="closed">Closed </td>{% endif %}</tr>


{% elif business_hours.day_of_the_week == 4 %}
<tr><td>Friday </td>{% if business_hours.open_closed == 1 %}<td class="open">{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</td>{% else %}<td class="closed">Closed </td>{% endif %}</tr>


{% elif business_hours.day_of_the_week == 5 %}
<tr><td>Saturday </td>{% if business_hours.open_closed == 1 %}<td class="open">{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</td>{% else %}<td class="closed">Closed </td>{% endif %}</tr>
{% endif %}

{% endfor %}
</tbody>
</table>
