<ul id="hoursFooter" class="list-unstyled">

{% for business_hours in business_hour %}
{% if business_hours.day_of_the_week == 6 %}
<li>Sunday {% if business_hours.open_closed == 1 %}
{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</li>{% else %}Closed </li>{% endif %}
{% endif %}
{% endfor %}

{% for business_hours in business_hour %}

{% if business_hours.day_of_the_week == 0 %}
<li>Monday {% if business_hours.open_closed == 1 %}{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</li>{% else %}Closed </li>{% endif %}
{% endif %}
{% endfor %}

{% for business_hours in business_hour %}

{% if business_hours.day_of_the_week == 1 %}
<li>Tuesday {% if business_hours.open_closed == 1 %}{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</li>{% else %}Closed </li>{% endif %}

{% elif business_hours.day_of_the_week == 2 %}
<li>Wednesday {% if business_hours.open_closed == 1 %}{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</li>{% else %}Closed </li>{% endif %}


{% elif business_hours.day_of_the_week == 3 %}
<li>Thursday {% if business_hours.open_closed == 1 %}{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</li>{% else %}Closed </li>{% endif %}


{% elif business_hours.day_of_the_week == 4 %}
<li>Friday {% if business_hours.open_closed == 1 %}{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</li>{% else %}Closed </li>{% endif %}


{% elif business_hours.day_of_the_week == 5 %}
<li>Saturday {% if business_hours.open_closed == 1 %}{{ business_hours.time_from|date:"g:i A" }} - {{ business_hours.time_to|date:"g:i A" }}</li>{% else %}Closed </li>{% endif %}
{% endif %}
{% endfor %}
</ul>
