{% load static wagtailcore_tags %}
{% for alert in alert %}
{% if alert.enable_alert == True %}
{% now "Y-m-d c" as todays_date %}
{% if todays_date < alert.alert_end_date|date:"Y-m-d c" or alert.alert_end_date is Null %}
{% if todays_date >= alert.alert_date|date:"Y-m-d c" %}
<div class="modal fade" id="modalAlert" tabindex="-1" aria-label="service alert">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      {{ alert.alert_text |richtext }}
      </div>
      <div class="modal-footer">
        <form action="/ticker/" id="ticker-form" method="POST" class="alert-on-off collapse alert-item-green show">
        {% csrf_token %}
        {{ close_ticker_form }}
        <button type="submit" value="Submit" class="btn btn-primary mb-2" data-bs-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}

<script src="{% static 'js/alert.js' %}" type="text/javascript"></script>
<script>
  {% if close_ticker == True %}
   $('#modalAlert').removeClass('show');
  {% elif close_ticker == False %}
  $(document).ready(function() {
    $('#modalAlert').modal('show');
  });
  {% endif %}
</script>
