  <div class="accordion" id="{{ value.accordion_name|slugify }}">
  {% for accordion_body in value.accordion_body %}
    <div class="accordion-item">
      <h3 class="accordion-header" id="heading-{{ accordion_body.value.accordion_item_title|slugify }}">
        <button class="accordion-button {% if accordion_body.value.show_by_default == False %}collapsed{% endif %}" 
        type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ accordion_body.value.accordion_item_title|slugify }}"
         aria-expanded="true" aria-controls="collapse-{{ accordion_body.value.accordion_item_title|slugify }}">
          {{ accordion_body.value.accordion_item_title }}
        </button>
      </h3>
      <div id="collapse-{{ accordion_body.value.accordion_item_title|slugify }}" {% if value.only_one_open == True %}data-bs-parent="#{{ value.accordion_name|slugify }}"{% endif %} class="accordion-collapse collapse {% if accordion_body.value.show_by_default == True %}show{% endif %}"
      aria-labelledby="heading-{{ accordion_body.value.accordion_item_title|slugify }}">
        <div class="accordion-body">
          {{ accordion_body.value.accordion_description}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>