<div class="row">
{% for card in value.card_body %}
{% if forloop.last == True and forloop.counter == 1 %}
{% for card in value.card_body %}
<div id="feature-{{ forloop.counter }}" class="col-12">
{{ card }}
</div>
{% endfor %}
{% endif %}

{% if forloop.last == True and forloop.counter == 2 %}
{% for card in value.card_body %}
<div id="feature-{{ forloop.counter }}" class="col-xl-6 col-md-6 col-12">
{{ card }}
</div>
{% endfor %}
{% endif %}

{% if forloop.last == True and forloop.counter == 3 %}
{% for card in value.card_body %}
<div id="feature-{{ forloop.counter }}" class="col-xl-4 col-md-4 col-12">
{{ card }}
</div>
{% endfor %}
{% endif %}

{% if forloop.last == True and forloop.counter == 4 %}
{% for card in value.card_body %}
<div id="feature-{{ forloop.counter }}" class="col-xl-3 col-md-6 col-12">
{{ card }}
</div>
{% endfor %}
{% endif %}

{% if forloop.last == True and forloop.counter >= 5 %}
{% for card in value.card_body %}
<div id="feature-{{ forloop.counter }}" class="col-xl-4 col-md-6 col-12">
{{ card }}
</div>
{% endfor %}
{% endif %}

{% endfor %}
</div>