{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags library_news_tags %}

{% block content %}
<div class="container">
<div class="row">

<div class="main-title mt-4 mb-4">
    <h1>{{ page.title }}</h1>
</div>

<div class="lead">{{ page.intro|richtext }}</div>

<div id="filterByDateMobile" class="col-md-2 d-block d-sm-none mb-4 bg-light">
<h2 class="fw-bold">DATE</h2>
<ul class="bd-highlight">
<li><a class="year-filter" href="{{ current_url }}">All</a></li>
{% for cty in news_count_by_year %}
<li><a class="year-filter" href="{{ current_url }}{{ cty.year }}/">{{ cty.year }} ({{ cty.count }})</a></li>
{% endfor %}
</ul>
</div>

<div id="newsItems" class="col-md-10 col-12">
{% for news_item in news_items %}
{% if page.get_children %}
<div class="news_item row border-bottom mb-3">
<div class="col mb-3 d-none d-sm-block">
 {% image news_item.specific.news_image class="img-fluid" fill-240x175-c100 %}
</div>
<div class="col mb-3 d-block d-sm-none">
 {% image news_item.specific.news_image class="img-fluid" fill-570x330-c100 %}
</div>
<div class="col-md-9">
<h2><a href="{{ news_item.specific.url }}">{{ news_item.title }}</a></h2>
<div class="news-date fw-bold"><i class="bi bi-clock"></i> {{ news_item.news_date }}</div>
{% for block in news_item.specific.content %}
{% if block.block_type == 'paragraph' and forloop.first %}
<p class="mt-2">{{ block|striptags|first_sentence }}.</p>
{% endif %}
{% endfor %}
<a href="{{ news_item.url }}" aria-label="Read more about {{ news_item.title }}" class="btn btn-primary mb-2">Read More</a>
</div>
</div>
{% endif %}
{% endfor %}
</div>
<div id="filterByDate" class="col-md-2 d-none d-sm-block">
<div class="bg-light">
<h2 class="fw-bold">DATE</h2>
<ul class="bd-highlight">
<li><a class="year-filter" href="{{ current_url }}">All</a></li>
{% for cty in news_count_by_year %}
<li><a class="year-filter" href="{{ current_url }}{{ cty.year }}/">{{ cty.year }} ({{ cty.count }})</a></li>
{% endfor %}
</ul>
</div>
</div>
</div>
</div>
<script> 
	 var django_request_path = "{{ request.path }}";
    $('.year-filter').each(function() {
        // Get the href attribute value of each anchor element
               var href = $(this).attr('href');
        if (django_request_path === href) { 
        	$(this).addClass('news_page_highlighted');

    }       
    });
</script>
{% endblock %}
