{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="container">
<div class="row">
<div id="contentArea" class="content col-12">
<hgroup class="person main-title mt-4 mb-4">
  <h1>{{ page.title }}</h1>
  <div class="position-title fw-bold">{{ page.news_date }}</div>
</hgroup>

<div class="row mb-2">
  <div class="col-md-3 col-12">
    {% image page.news_image class="img-fluid" fill-250x240 %}
  </div>
  <div class="col-md-9 col-12 mt-1">
    {{ page.news_body|richtext }}
    {% for block in page.content %}
    {% if block.block_type == 'paragraph' and forloop.first %}
    {% include_block block %}
    {% elif block.block_type == 'quote' %}
    {% include_block block %}
    {% elif block.block_type == 'paragraph' and not forloop.first %}
    {% include_block block %}
    {% endif %}
    {% endfor %}
  </div>
</div>

</div>
</div>
</div>
{% endblock %}