{% load static wagtailcore_tags menu_tags %}
<ul class="row">
{% for item in menu_items %}

{% if forloop.last == True and forloop.counter == 1 %}
{% for item in menu_items %}
<li class="list-unstyled col-12">
	<div class="menu-heading fw-bold"><a href="{{ item.href }}" class="menu-link">{{ item.text }}</a></div>
{% sub_menu item template="menus/mobile_level_3.html" %}
</li>
{% endfor %}
{% endif %}

{% if forloop.last == True and forloop.counter == 2 %}
{% for item in menu_items %}
<li class="list-unstyled col-6">
	<div class="menu-heading fw-bold"><a href="{{ item.href }}" class="menu-link">{{ item.text }}</a></div>
{% sub_menu item template="menus/mobile_level_3.html" %}
</li>
{% endfor %}
{% endif %}

{% if forloop.last == True and forloop.counter == 3 %}
{% for item in menu_items %}
<li class="list-unstyled col-xl-4 col-md-12 col-12">
	<div class="menu-heading fw-bold"><a href="{{ item.href }}" class="menu-link">{{ item.text }}</a></div>
{% sub_menu item template="menus/mobile_level_3.html" %}
</li>
{% endfor %}
{% endif %}

{% if forloop.last == True and forloop.counter == 4 %}
{% for item in menu_items %}
<li class="list-unstyled col-xl-3">
	<div class="menu-heading fw-bold"><a href="{{ item.href }}" class="menu-link">{{ item.text }}</a></div>
{% sub_menu item template="menus/mobile_level_3.html" %}
</li>
{% endfor %}
{% endif %}

{% endfor %}
</ul>
